<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>更多订单</title>
		<link href="../../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../common/css/common.css"/>
	    <link rel="stylesheet" type="text/css" href="css/market_order_detail.css"/>
	</head>
	<body>
		<div id="container">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-row">
				    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				    <span class="mui-title">订单详情</span>
				</div>
			</header>
			<!--内容-->
			<div v-show="!isloading" class="mui-content">
				<div class="order_status mui-clearfix" 
					:style="[{background : orderinfo.ifdrawbackchange ? '#fa7921' : ''}]"
					:class="{black_back : orderinfo.desctype == 'drawbackchange' || orderinfo.desctype == 'drawback' || orderinfo.desctype == 'cancel' || orderinfo.desctype == 'drawbacked' || orderinfo.desctype == 'drawbackchangeed'}"
					>
					<div class="point_out">
						<span v-for="(e,i) in order_warn(orderinfo.desctype,orderinfo)">{{e}}</span>
					</div>
					<img v-if="orderinfo.desctype != 'cancel' && orderinfo.desctype != 'drawbacked' && orderinfo.desctype != 'drawbackchangeed'" :src="['../../images/market/'+orderinfo.desctype+'.png']"/>
				</div>
				<div class="delivery_info">
					<div class="user_info">
						<span>收货人：{{orderinfo.address.name}}</span>
						<span>电话：{{orderinfo.address.phone}}</span>
					</div>
					<div class="address_info">
						{{orderinfo.address.detail}}
					</div>
				</div>
				<div class="sign_receiving" @tap="goto_progress(orderinfo.id)" v-show="!!orderinfo.sendprogress.status">
					<div class="is_sign">
						<img src="../../images/market/logistics-car.png"/>
						<div class="mui-pull-left">
							<span>{{orderinfo.sendprogress.status}}</span><br />
							<span style="display: inline-block;max-width: 18em;">{{orderinfo.sendprogress.pos}}</span>
						</div>
					</div>
					<img src="../../images/market/to_right.png"/>
				</div>
				<div class="order_info">
					<div class="order_time">
						<span>{{orderinfo.ordertime}}</span>
						<span class="mui-pull-right">{{orderinfo.orderdesc}}</span>
					</div>
					<div v-for="k in orderinfo.goodsinfo" :class="[orderinfo.ordertype == 'master' ? 'border-bottom' : '']" style="margin-bottom: 10px;">
						<div class="order_goods" v-for="m in k.glist">
							<img :src="m.logo"/>
							<div class="order_subtotal">
								<span class="order_name">{{m.gname}}</span>
								<span class="order_feature">{{m.spec}}</span><br />
								<span class="order_count">x{{m.buycount}}<span>小计：￥{{m.allprice.intpart}}.{{m.allprice.floatpart}}</span></span>
							</div>
						</div>
						<div class="words" v-show="orderinfo.ordertype == 'master'">
							<p style="color: #333;">买家留言</p>
							<p>{{!k.message ? '无' : k.message}}</p>
						</div>
					</div>
					<div class="order_total">
						<div @tap="toggle(orderinfo)">
							<div class="preferential mui-clearfix">优惠满减
								<span class="mui-pull-right">合计优惠：
									<span class="order_discount">{{orderinfo.allbenefit == '0.00' ? '无' : '-'+orderinfo.allbenefit}}</span>
									<span class="mui-icon" 
										:class="{'mui-icon-arrowup':orderinfo.benefitlistifenable,'mui-icon-arrowdown':!orderinfo.benefitlistifenable}" 
										style="font-size: 16px;color: #999;"></span>
									</span>
								</span>
							</div>
						</div>
						<transition name="move">  
							<div v-show="orderinfo.benefitlistifenable" class="bottom_items" v-for="e in orderinfo.benefitlist">
								<div class="item">
									<img :src="e.glogo"/>
									<span>{{e.gname}}</span>
									<div class="bottom_preferential">
										满<span>{{e.man}}</span>减<span>{{e.jian}}</span>
									</div>
								</div>
							</div>
						</transition>
						<div class="mui-clearfix" style="padding: 8px 15px;">
							<div class="mui-pull-right">
								<span>共{{orderinfo.allbuycount}}件商品</span>&nbsp;&nbsp;
								<span>合计:<span class="order_discount">￥{{orderinfo.allmoney}}</span></span>
								<span style="font-size: 12px;">(含运费:￥{{orderinfo.allfee}})</span>
							</div>
						</div>
					</div>
					<div class="order_pay">
						<span>订单号：{{orderinfo.id}}</span>
							<div class="order_action">
								<div class="order_spans"> 
									<span v-for="m in orderinfo.buttonlist" :class="m" @tap="order_action(m,orderinfo.id,orderinfo)">
										{{get_btnlist(m)}}
									</span>
								</div>
							</div>
					</div>
				</div>
				<!--留言-->
				<div v-show="orderinfo.desctype != 'nopay' && orderinfo.desctype != 'cancel'" class="comments">
					<span>我的留言</span>
					<p :class="[!!orderinfo.sellermessage ? 'has_sellerinfo' : '']">{{!orderinfo.usermessage ? '无' : orderinfo.usermessage}}</p>
					<span v-show="!!orderinfo.sellermessage">商家留言</span>
					<p v-show="!!orderinfo.sellermessage">{{!orderinfo.sellermessage ? '无' : orderinfo.sellermessage}}</p>
					<div class="order_progress">
						<p v-for="e in orderinfo.progress">{{e}}</p>
						<!--<p>申请退款 2018-06-12 14:05 <br />
							<span>原因：过时未发货</span>
						</p>
						<p>卖家拒绝退款 2018-06-12 14:05
							<span>原因：今天之内发货，请稍等</span>
						</p>-->
					</div>
				</div>
				<!--退换凭证-->
				<div v-show="orderinfo.desctype == 'drawback' || orderinfo.desctype == 'drawbackchange' || orderinfo.desctype == 'drawbacked' || orderinfo.desctype == 'drawbackchangeed'" class="comments">
					<span>退款原因</span>
					<p>{{!orderinfo.cause ? '无' : orderinfo.cause}}</p>
					<img v-for="(k,i) in orderinfo.imglist.smallimg" :src="k" :key="k+i" @tap="previewImage(i,orderinfo.imglist.bigimg)"/> 
				</div>
				<vuepaypad ref='paypad' @do_action="do_action"></vuepaypad>
		</div>
		
			<div v-show="isloading" id='lottie' style="margin: 50% auto; width: 80px;"></div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lottie.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/components/paypad.min.js" type="text/javascript"></script>
	   	<script src="js/market_order_detail.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
