<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>添加店铺</title>
		<link href="../../../css/mui.min.css" rel="stylesheet"/>
	    <!--自己的样式-->
	    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
	    <link rel="stylesheet" type="text/css" href="css/addShop.css"/>
	</head>
	<body>
		<div id="container">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-row">
				    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				    <h1 class="mui-title">添加店铺</h1>
				    <span class="complete" @tap="complete()">完成&nbsp;<span style="position: relative;top: -1px;">(<span class="selectedScore"></span>)</span></span>
				</div>
			</header>
			
			<div class="mui-content">
				<vue-loadmore ref="pullup">
					<form class="mui-input-group" id="shop_search" action="javascript:void(0);">
					    <div class="mui-input-row">
					    	<div class="searchIcon">
					    		<img src="../../../images/ic_home_ss.png"/>
					    	</div>
					   		<input type="search" v-model="sword" class="mui-input-clear" placeholder="搜索店铺">
					    </div>
					</form>
					<ul id="show" class="marginTop10">
						<li v-for="item in items">
							<div class="imgBox"><img src="../../../images/btn_weixuan.png" @tap="doImg($event,item.id)"/></div>
							<img :src="item.logo"/>
							<div class="text">
								<span>{{item.name}}</span>
								<p>{{item.addr}}</p>
							</div>
						</li>
					</ul>
				</vue-loadmore>
			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/vue.min.js"></script>

		<script src="../../../js/components/Loadmore.min.js"></script>
		<script src="../../../js/app.js"></script>
	   	<script src="js/addShop.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
