*{
	padding: 0;
	margin: 0;
}
body,.mui-content{
	background: #f5f5f9;
}
.mui-bar{
	background-color: #fff;
}
.mui-bar a{
	color: #000;
}
/*消除阴影*/
.mui-bar-nav{
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom: 1px solid #E5E5E5;
}

.title{
	padding-left: 15px;
	font-size: 14px;
	color: #666;
	height: 44px;
	line-height: 44px;
}
.item{
	padding: 14px 15px;
	background-color: #ffffff;
	display: flex;
}
.item p{
	margin-bottom: 0;
}
.item .left{
	width: 80%;
}
.item .left p{
	margin-top: 5px;
	color: #666;
}
.item .right{
	width: 20%;
}
.item .right a{
	display: inline-block;
	font-size: 14px;
	color: #2099e5;
	margin-top: 5px;
}
