<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>用户直接买单</title>
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<!--自己的样式-->
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/userPay.css" />
	</head>

	<body>
		<div id="container">
			<header class="mui-bar mui-bar-nav">
				<div class="mui-row">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">{{shopname}}</h1>
				</div>
			</header>
			<div class="mui-content">
				<div id="location" class="location">
					<div>
						<img src="../../../images/location.png" />&nbsp;{{addr}}
					</div>
				</div>
				<div class="money">
					<ul>
						<li class="first">
							<form class="mui-input-group">
								<div class="mui-input-row">
									<span>订单金额(元)</span>
									<input type="tel" max-length = "6" v-model="allmoney" class="mui-input-clear" placeholder="请询问服务员后输入">
								</div>
							</form>
						</li>
						<li class="second">
							<form class="mui-input-group">
								<div class="mui-input-row">
									<span>不参与优惠金额(元)</span>
									<input type="tel" max-length = "6" v-model="exceptmoney" class="mui-input-clear" placeholder="请询问服务员后输入">
								</div>
							</form>
						</li>
						<li class="third marginTop10">
							<form class="mui-input-group">
								<div class="mui-input-row">
									<span>备注</span>
									<input type="text" max-length="100" class="mui-input-clear" placeholder="添加备注">
								</div>
							</form>
						</li>
					</ul>
				</div>
				<div class="boxBtn">
					<button type="button" @tap="pre_pay()">和店员已确认，立即买单</button>
				</div>
				<vuepaypad ref='paypad' @do_action="do_action"></vuepaypad>
			</div>
		</div>

		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/vue.min.js"></script>

		<script src="../../../js/components/paypad.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/userPay.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>