@import '../../../App/css/mui.min.css';
	*{
		margin:0px;
		padding:0px;
	}
	/*全局*/
	.scrollable {
		/*width: 33.3%;*/
		/*min-height: 736px;*/
		overflow:auto;
		left:0px;
		bottom:0px;
		background: #eee;
		height: 100%;
		border-left: 1px solid #CCCCCC;
		-webkit-scrollbar:none;
	}
    .vue-hi-filter-wrapper{
        position: fixed;
        top: 66px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2999;
    }
    .panel{
        position: relative;
        z-index: 999;
        background-color: #fff;
    }
	/* 蒙板 */
	#mask{
		position: fixed;
        top: 110px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 995;
        background-color: rgba(0,0,0,.3);
	}
	/*工具栏*/
	.toolbar{
		display: flex;
		background: #fff;
		margin: 0px;
		border-bottom: 1px solid #e5e5e5;
	}
	.toolbar>.toolitem{
		list-style: none;
		width: 25%;
		height: 44px;
		line-height: 44px;
		text-align: center;
		color: #666;
		font-size: 12px;
	}
	/*-------------------------------*/
	.class_checked{
		background: #fff;
	}
	/*分类*/
	.category{
		height: 300px;
		position: relative;
	}
	.category li,.sort>li,.distance>li{
		list-style: none;
		padding:0px 20px;
		text-align: left;
		line-height: 40px;
		font-size: 15px;
		border-bottom: 1px solid #e5e5e5;
	
	}	
	.distance li>img,.sort li>img{
		width:14px;
		height:14px;
		float: right;
		margin-top:10px;

	}
	/*距离*/

	.list_checked{
		color: #fa7921;
	}
    .checked{
		background-color: #fa7921 !important;
        color:#fff !important;
	}
	/*筛选*/
	.filter{
		padding:10px;
        padding-bottom: 20px;
	}
	.filter title{
		font-size: 13px;
	}
	.content{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.content .item{
		display: inline-block;
		/* width: 22%; */
        padding:5px;
		/* line-height: 30px; */
		text-align: center;
		background: #f3f3f3;
		font-size: 13px;
		color: #666;
		border-radius: 2px;
		margin-right: 10px;
		margin-bottom: 6px;
	}
	.btnBox{
		display: flex;
		width: 100%;
        margin-top:20px;
	}
	button{
		width: 50%;
		height: 50px;
		text-align: center;
		font-size: 16px;
		border: 0;
		border: 1px solid #e5e5e5;
		border-radius: 0;
	}
	.btnBox .confirm{
		color: #fff;
		background: #fa7921;
		border-color: #fa7921;
	}